.app {
    max-width: 300px;
    padding: 20px;
    color: #4C3B4D;
    border: 1px solid #4C3B4D;
    border-radius: 5px;
    margin: 30px auto;

    .app-header {
        display: flex;
        justify-content: space-around;
        padding: 8px 20px;
        border-bottom: 1px solid;
    }
    
    .app-content {
        padding: 20px 0 0 0;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    [class^="flaticon-"]:before, 
    [class*=" flaticon-"]:before, 
    [class^="flaticon-"]:after, 
    [class*=" flaticon-"]:after {
        margin: 0;
    }
       
    }
    .app-footer{
        background: #A53860;
        padding: 6.5px;
        margin: -6.5px;
        color: #4C3B4D;
        transition: .2s;
        &:hover{
            color: black;
        }
}
.welcome-header{
    display: flex;
    justify-content: space-around;
    color: #A53860
}